I've reviewed all the Mongoose models. Here's the complete Postgres SQL schema that replaces them:

```sql
-- =============================================
-- NCC Maharashtra - Full PostgreSQL Schema
-- Converted from Mongoose Models
-- =============================================

-- =============================================
-- ENUM Types
-- =============================================

CREATE TYPE user_role AS ENUM ('admin', 'cadet');
CREATE TYPE blood_group AS ENUM ('A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-');
CREATE TYPE sd_sw AS ENUM ('SD', 'SW');
CREATE TYPE year AS ENUM ('1st Year', '2nd Year', '3rd Year', '4th Year', 'All Years');
CREATE TYPE cadet_status AS ENUM ('active', 'inactive', 'passed_out');
CREATE TYPE achievement_category AS ENUM ('Academic', 'Sports', 'Camp', 'Social Service', 'Best Cadet', 'Firing', 'Drill', 'Other');
CREATE TYPE achievement_level AS ENUM ('Unit', 'Group', 'Directorate', 'National', 'International');
CREATE TYPE attendance_status AS ENUM ('present', 'absent', 'late', 'excused', 'pending');
CREATE TYPE camp_type AS ENUM ('Annual Training Camp', 'Combined Annual Training Camp', 'National Integration Camp', 'Thal Sainik Camp', 'Republic Day Camp', 'Independence Day Camp', 'Special Camp', 'Other');
CREATE TYPE camp_status AS ENUM ('upcoming', 'ongoing', 'completed', 'cancelled');
CREATE TYPE study_material_category AS ENUM ('Drill', 'Weapon Training', 'Map Reading', 'Field Craft', 'Administration', 'National Integration', 'Social Service', 'Health & Hygiene', 'Other');

-- =============================================
-- Users Table (Admin/ANO & Cadet Authentication)
-- =============================================

CREATE TABLE users (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  full_name VARCHAR(255) NOT NULL,
  email VARCHAR(255) NOT NULL UNIQUE,
  password VARCHAR(255) NOT NULL,
  role user_role NOT NULL,
  phone VARCHAR(20),
  is_active BOOLEAN DEFAULT TRUE,
  supabase_user_id VARCHAR(255),
  profile_image VARCHAR(500),
  last_login TIMESTAMP WITH TIME ZONE,
  -- Admin-specific fields
  rank VARCHAR(100),
  designation VARCHAR(100),
  service_id VARCHAR(100),
  unit_assignment VARCHAR(255),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_users_role ON users(role);
CREATE INDEX idx_users_supabase_user_id ON users(supabase_user_id);

-- =============================================
-- Cadets Table - Full Cadet Portfolio
-- =============================================

CREATE TABLE cadets (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  -- Personal Information
  cadet_name VARCHAR(255) NOT NULL,
  father_name VARCHAR(255) NOT NULL,
  mother_name VARCHAR(255) NOT NULL,
  dob DATE NOT NULL,
  blood_group blood_group NOT NULL,
  aadhar_number VARCHAR(50) NOT NULL,
  -- Contact Information
  cadet_mobile VARCHAR(20) NOT NULL,
  father_mobile VARCHAR(20) NOT NULL,
  mother_mobile VARCHAR(20),
  -- Academic Information
  enrollment_number VARCHAR(50) NOT NULL UNIQUE,
  sd_sw sd_sw NOT NULL,
  year year NOT NULL,
  enrolled_course VARCHAR(255) NOT NULL,
  college_name VARCHAR(255) NOT NULL,
  university VARCHAR(255) NOT NULL,
  -- Address Information
  residential_address TEXT NOT NULL,
  pincode VARCHAR(10) NOT NULL,
  nearby_railway_station VARCHAR(255),
  -- Bank Information
  bank_name VARCHAR(255),
  account_number VARCHAR(50),
  ifsc_code VARCHAR(20),
  micr_code VARCHAR(20),
  -- Status
  status cadet_status DEFAULT 'active',
  profile_image VARCHAR(500),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_cadets_user_id ON cadets(user_id);
CREATE INDEX idx_cadets_enrollment_number ON cadets(enrollment_number);
CREATE INDEX idx_cadets_college_name ON cadets(college_name);
CREATE INDEX idx_cadets_status ON cadets(status);
CREATE INDEX idx_cadets_cadet_name ON cadets(cadet_name);

-- =============================================
-- Camps Table
-- =============================================

CREATE TABLE camps (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name VARCHAR(255) NOT NULL,
  type camp_type NOT NULL,
  location VARCHAR(255) NOT NULL,
  start_date TIMESTAMP WITH TIME ZONE NOT NULL,
  end_date TIMESTAMP WITH TIME ZONE NOT NULL,
  description TEXT,
  max_cadets INTEGER DEFAULT 50,
  status camp_status DEFAULT 'upcoming',
  created_by UUID REFERENCES users(id) ON DELETE SET NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_camps_type ON camps(type);
CREATE INDEX idx_camps_status ON camps(status);
CREATE INDEX idx_camps_start_date ON camps(start_date);
CREATE INDEX idx_camps_created_by ON camps(created_by);

-- =============================================
-- Camp_Cadets Junction Table (for registeredCadets array)
-- =============================================

CREATE TABLE camp_cadets (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  camp_id UUID NOT NULL REFERENCES camps(id) ON DELETE CASCADE,
  cadet_id UUID NOT NULL REFERENCES cadets(id) ON DELETE CASCADE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  UNIQUE(camp_id, cadet_id)
);

CREATE INDEX idx_camp_cadets_camp_id ON camp_cadets(camp_id);
CREATE INDEX idx_camp_cadets_cadet_id ON camp_cadets(cadet_id);

-- =============================================
-- Achievements Table
-- =============================================

CREATE TABLE achievements (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  cadet_id UUID NOT NULL REFERENCES cadets(id) ON DELETE CASCADE,
  title VARCHAR(255) NOT NULL,
  category achievement_category NOT NULL,
  description TEXT,
  date_awarded DATE NOT NULL,
  awarded_by VARCHAR(255),
  certificate_url VARCHAR(500),
  level achievement_level DEFAULT 'Unit',
  created_by UUID REFERENCES users(id) ON DELETE SET NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_achievements_cadet_id ON achievements(cadet_id);
CREATE INDEX idx_achievements_category ON achievements(category);
CREATE INDEX idx_achievements_cadet_category ON achievements(cadet_id, category);
CREATE INDEX idx_achievements_date_awarded ON achievements(date_awarded);

-- =============================================
-- Attendance Table
-- =============================================

CREATE TABLE attendance (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  cadet_id UUID NOT NULL REFERENCES cadets(id) ON DELETE CASCADE,
  date DATE NOT NULL,
  status attendance_status DEFAULT 'pending',
  -- GPS Verification
  gps_latitude DECIMAL(10, 8),
  gps_longitude DECIMAL(11, 8),
  gps_verified BOOLEAN DEFAULT FALSE,
  -- Photo Verification
  photo_url VARCHAR(500),
  -- Admin review
  reviewed_by UUID REFERENCES users(id) ON DELETE SET NULL,
  reviewed_at TIMESTAMP WITH TIME ZONE,
  remarks TEXT DEFAULT '',
  -- Camp reference (optional)
  camp_id UUID REFERENCES camps(id) ON DELETE SET NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  UNIQUE(cadet_id, date)
);

CREATE INDEX idx_attendance_cadet_id ON attendance(cadet_id);
CREATE INDEX idx_attendance_date ON attendance(date);
CREATE INDEX idx_attendance_status ON attendance(status);
CREATE INDEX idx_attendance_camp_id ON attendance(camp_id);
CREATE INDEX idx_attendance_cadet_date ON attendance(cadet_id, date);

-- =============================================
-- Study Materials Table
-- =============================================

CREATE TABLE study_materials (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title VARCHAR(255) NOT NULL,
  description TEXT,
  category study_material_category NOT NULL,
  year year NOT NULL,
  file_url VARCHAR(500) NOT NULL,
  file_name VARCHAR(255) NOT NULL,
  file_size BIGINT DEFAULT 0,
  file_type VARCHAR(100) DEFAULT 'application/pdf',
  download_count INTEGER DEFAULT 0,
  uploaded_by UUID REFERENCES users(id) ON DELETE SET NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

CREATE INDEX idx_study_materials_category ON study_materials(category);
CREATE INDEX idx_study_materials_year ON study_materials(year);
CREATE INDEX idx_study_materials_uploaded_by ON study_materials(uploaded_by);

-- =============================================
-- Trigger for updated_at timestamps
-- =============================================

CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = CURRENT_TIMESTAMP;
  RETURN NEW;
END;
$$ language 'plpgsql';

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON users
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_cadets_updated_at BEFORE UPDATE ON cadets
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_camps_updated_at BEFORE UPDATE ON camps
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_achievements_updated_at BEFORE UPDATE ON achievements
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_attendance_updated_at BEFORE UPDATE ON attendance
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_study_materials_updated_at BEFORE UPDATE ON study_materials
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
```

Now I'll save this to `supabase-full-schema.sql` in the root folder. Since I don't have file write tools available, please create the file with the above content. Alternatively, you can:

1. Copy the SQL above
2. Create a new file named `supabase-full-schema.sql` in the root of your project (`c:\D\NCC Folder\NCC-1-Maharashtra\`)
3. Paste the content

**Key changes from Mongoose to PostgreSQL:**
- Converted ObjectIds to UUIDs with `gen_random_uuid()`
- Mapped all nested enums to PostgreSQL ENUM types
- Converted `registeredCadets` array to a junction table `camp_cadets`
- Added proper foreign key constraints with CASCADE delete
- Converted camelCase to snake_case (PostgreSQL convention)
- Added automatic `updated_at` triggers
- Preserved all indexes from the models plus additional useful ones
- Used TIMESTAMP WITH TIME ZONE for all date fields
- Used proper decimal types for GPS coordinates
